*
{
    margin: 0px;
    padding: 0px;
    
}

html
{
    width: 100%;
    height: 10vh;
}
body
{
    width: 100%;
    height: auto;
    position: relative;
    overflow-y: scroll;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav
{
    display: flex;
}

[id^="in"]
{
    display: none;
}

#profile-checkbox
{
    display: none;
}

@media only screen and (min-width: 170px) and (max-width: 770px)
{

    body
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header
    {
        width: 100%;
        height: 8vh;
    }

    nav
    {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-between;
    }

    #profile-img
    {
        height: 7.5vh;
        width: 10%;
        margin-right: 1%;
        z-index: 997;
    }

    #profile-img label
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        border-radius: 50%;
        margin: auto 0;
    }

    #profile-img label img#open
    {
        border-radius: 50%;
    }

    #profile-img label img#close
    {
        width: 70%;
        display: none;
    }

    #burger
    {
        width: 15vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #burger [id^="li"]
    {
        width: 50%;
        height: 5px;
        font-size: 20px;
        background-color: rgb(0, 0, 0);
        margin: 3px 0 0 0;
        border-radius: 25px;
        z-index: 999;
    }

    #burger #li-one
    {
        margin: 0;
    }

    #menu
    {
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: #ccc;
        transform: translateX(-100%);
        transition: 0.1s linear;
        z-index: 998;
        overflow-y: scroll;
    }


    #menu ul#fst
    {
        width: 100%;
        height: auto;
        margin: 8vh 0 0 0;
        list-style: none;
    }

    #menu ul ul#sec
    {
        height: 0px;
        visibility: hidden;
        display: none;
        transition:all 0.3s ease-in-out;
    }

    #in-quiz-op:checked ~ #fst #sec
    {
        height: auto;
        visibility: visible;
        display: block;
        transition: all 0.3s linear;
    }

    #menu ul li label img
    {
        width: 10%; height: 30%;
        transition: all 0.3s ease-in-out;

    }

    #in-quiz-op:checked ~ #fst li label img
    {
        transform: rotate(90deg);
        /* background-color: red; */
        transition: all 0.3s ease-in-out;
    }
    
    #menu ul #sec li a
    {
        width: 100%;
        height: 7vh;
        text-indent: 40px;
        background-color: #ccc;
        border-bottom: 0.5px solid rgb(255, 255, 255);
    }
    
    #menu ul#fst li
    {
        width: 100%;
        height: 7vh;
        background-color: white;
        border-bottom: 0.5px solid #ccc;
    }

    #menu ul li a
    {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: rgb(0, 0, 0);
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-indent: 20px;
        font-weight: 600;

    }

    #menu ul li label
    {
        width: 100%;
        height: 7vh !important;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: rgb(0, 0, 0);
        text-indent: 20px;
        font-weight: 600;
    }
   
    #burger-checkbox:checked~ header #menu
    {
        transform: translateX(0%);
        transition: 0.1s linear;
    }

    #profile
    {
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: rgb(255, 255, 255);
        transform: translateY(-100%);
        transition: 0.1s linear;
        z-index: 996;
        overflow: hidden;
        /* display: none; */
    }

    #profile-checkbox:checked ~ header #profile
    {
        transform: translateY(0%);
        transition: 0.1s linear;
    }

    #profile-checkbox:checked ~ header nav #profile-img label #open
    {
        display: none;
    }

    #profile-checkbox:checked ~ header nav #profile-img label #close
    {
        display: block;
    }

    #profile .row
    {
        width: 100%;
    }

    #profile #profile-img-upload
    {
        height: 40%;
    }

    #profile #profile-img-upload label
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #profile #profile-img-upload label img
    {
        width: 55%;
        height: 90%;
    }

    #profile #profile-details
    {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #profile #profile-details fieldset
    {
        width: 80%;
        /* overflow-x: hidden; */
    }

    #profile #profile-details fieldset legend
    {
        font-size: 0.9rem;
        /* font-weight: 600; */
    }

    #profile #profile-details fieldset p
    {
        width: 90%;
        overflow-x: scroll;
        text-indent: 5vw;
        font-size: 1rem;
        font-weight: bold;
    }

    #profile #profile-details fieldset p::-webkit-scrollbar
    {
        display: none;
    }

    #profile #profile-details button
    {
        width: 25%;
        height: 5vh;
        margin-top: 10vh;
    }

    footer
    {
        width: 100%;
        height: 8vh;
        background-color: rgb(0, 0, 0);
        /* bottom: 0; */
        z-index: 997;
    }
    
    #ft-menu
    {
        display: flex;
        align-items: center;
        padding: 0.2vh 0 0 0;
        justify-content: space-around;

    }

    #ft-menu .icon
    {
        width: 18%;
        height: 7vh;
        margin: 3px 0 0 0;
        /* background-color: black;  */
    }
    
    #container
    {
        width: 100%;
        height: 84vh;
    }

    .icon a
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .icon label img
    {
        height: 80%;
        width: 40%;
    }

    .icon label img:hover
    {
        fill: white;
        text-shadow:0 0 10px  rgb(0, 0, 0);
    }

    #timeline
    {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    #timeline #timeline-container
    {
        width: 100%;
        height: 100%;
    }

    #timeline #timeline-container .post
    {
        width: 100%;
        height: auto;
        margin: 2px 0 0 0;
    }

    #timeline #timeline-container .post .post-container
    {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    #timeline-container .post .post-container .post-header
    {
        width: 100%;
        height: 8vh;
        background-color: #ccc;
    }

    #timeline-container .post .post-container .post-body .img img
    {
        width: 100%;
        height: 100%;
    }

    #timeline-container .post .post-container .post-body
    {
        width: 100%;
        height: 55vh;
        position: relative;
    }
    
    #timeline-container .post .post-container .post-body .img
    {  
        width: 100%;
        height: 100%;
        background-color: red;
    }

    #timeline-container .post .post-container .post-body .details
    {  
        width: 100%;
        height: 15%;
        position: absolute;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        color: white;
        transition: 0.2s linear;
    }

    #timeline-container .post .post-container .post-body .details label
    {
        display: block;
        width: 100%;
        height: 326px;
    }

    #timeline-container .post .post-container .post-body .details h1,p
    {
        width: 95%;
        margin: 0 auto 0 auto;
    }

    #timeline-container .post .post-container .post-body .details h1
    {
        font-size: 20px;
        /* margin-top: 6px; */
    }

    #timeline-container .post .post-container .post-body .details p
    {
        font-size: 12px;
        /* margin-top: 3px; */
    }

    #timeline-container .post .post-container .post-footer
    {
        width: 100%;
        height: 8vh;
        background-color: #ccc;
    }

    #timeline-container .post .post-container .post-footer ul 
    {
        width: 100%;
        height: 100%;
        display: flex;
    }

    #timeline-container .post .post-container .post-footer ul li
    {

        width: 50%;
        height: 100%;
    }

    #timeline-container .post .post-container .post-footer ul li label
    {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #timeline-container .post .post-container .post-footer ul li img
    {
        width: 15%;
        height: 80%;
    }

    #in-comment:checked ~ #comment-box
    {
        height: auto;
        display: block;
        transition: height 0.2s ease-in-out;
    }

    #comment-box
    {
        width: 100%;
        height: 0;
        display: none;
        transition: all 0.2s ease-in-out;
    }

    #comment-box p
    {
        width: 90%;
        margin: 0 auto;
        font-size: 0.8rem;
        color: #777;
    }

    #comment-box ul
    {
        list-style: none;
        width: 100%;
        height: 100%;
    }

    #comment-box ul li
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #comment-box ul #comment-textarea
    {
        width: 60%;
    }

    #comment-box ul #comment-button
    {
        width: 40%;
    }

    #comment-box ul li textarea
    {
        display: inline-block;
        width: 100%;
        height: 30px;
        resize: none;
        margin: 5px 0 5px 10px;
    }

    #comment-box ul li  button
    {
        display: inline-block;
        width: 50%;
        height: 4vh;
        margin: 8px 0 0 0;
    }

    li#comment
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 3%;
    }
    li#share
    {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 3%;
    }

    #timeline-container .post .post-container .post-header ul
    {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        list-style: none;
    }

    #timeline-container .post .post-container .post-header ul #post-profile-img
    {
        width: 15%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #timeline-container .post .post-container .post-header ul #post-user-name
    {
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #timeline-container .post .post-container .post-header ul #post-profile-img img
    {
        width: 70%;
        border-radius: 50%;
    }

    #timeline-container .post .post-container .post-header ul #post-user-name p
    {
        width: 100%;
        color: white;
    }


    #in1:checked ~ #timeline-container .post .post-container .post-body .details
    {
        height: 100%;
        overflow-y: scroll;
        transition: 0.2s linear;
    }
    #in2:checked ~ #timeline-container .post .post-container .post-body .details
    {
        height: 100%;
        overflow-y: scroll;
        transition: 0.2s linear;
    }
    #in3:checked ~ #timeline-container .post .post-container .post-body .details
    {
        height: 100%;
        overflow-y: scroll;
        transition: 0.2s linear;
    }
}