body
{
    background-image: initial;
    background-color: #ccc;
    overflow: hidden;
}
header
{
    background-color: #ccc;
}

header h1, a
{
    color: white;
}

#biographies-container
{
    margin: 8vh 0 0 0 ;
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#biographies-container div
{
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}


#biographies-container div:nth-child(1) div
{
    width: 60vw;
    margin: 1vh 0 0 0;
    height: 75vh !important;
}

#biographies-container div:nth-child(1) div embed
{
    width: 100%;
    height: 100%;
}

#biographies-container div:last-child
{
    width: 30vw;
    height: 80vh;
    justify-content: flex-start;
    background-color:white;
    padding-bottom: 1vh;
}

#biographies-container div:last-child h1
{
    width: 100%;
    height: 7%;
    background-color: #41d5a6 ;
    color: white;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#biographies-container div:last-child input
{
    width: 95%;
    margin: 3vh 0;
    height: 5vh;
    letter-spacing: 2px;
    text-indent: 1vw;
}


#biographies-container div:last-child ul
{
    width: 100%;
    height: 93%;
    background-color: white;
    overflow-y: scroll;
    text-align: center;
}

#biographies-container div:last-child ul li
{
    width: 98%;
    height: 5vh !important;
    background-color: white;
    margin: 0 auto 2px auto;
}

#biographies-container div:last-child ul li a
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #41d5a6;
}

#biographies-container div:last-child ul::-webkit-scrollbar
{
    width: 5px;
    background-color: none;
}

#biographies-container div:last-child ul::-webkit-scrollbar-thumb
{
    width: 5px;
    background-color: black;
}

@media only screen and (min-width: 170px) and (max-width: 770px)
{
    html, body, header {
        background-color: white;
    }
    #biographies-container #pdf
    {
        width: 100vw;
        height: 100%;
        /* margin-top: 10vw; */
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    #biographies-container #pdf #pdf-box
    {
        width: 100vw;
        height: 84vh !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #biographies-container #pdf #pdf-box embed
    {
        /* width: 100%; */
        height: 84vh !important;
    }

    #biographies-container #pdf h1
    {
        font-size: 5vw;
        height: 10vw;
        margin: 2vw 0 0 0;
    }

    #min-bio
    {
        display: none !important;
        background-color: red;
    }
}