*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header h1,a
{
    color: black;
}

#container
{
    background-color: white;
    color: black;
}

#forgot-password
{
    margin: 8vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8vh 0 0 0;
}

#forgot-password form input
{
    display: block;
    width: 20vw;
    height: 5vh;
    margin-top: 5vh;
    text-indent: 2vh;
}

#forgot-password form input::placeholder
{
    text-align: center;
}

#forgot-password form p
{
    width: 20vw;
    text-align: center;
    font-size: 1.8vh;
    margin-top: 2vh;
}

#forgot-password form button
{
    display: block;
    width: 20vw;
    height: 5vh;
    border: none;
    background-color: black;
    color: white;
    margin: 3vh 0 0 0;
}

@media only screen and (min-width: 170px) and (max-width: 770px)
{
    header h1
    {
        color: black !important;
    }

    #forgot-password
    {
        margin: 8vh 0 0 0;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 8vh 0 0 0 !important;
        background-color: white;
    }

    #forgot-password form input
    {
        display: block;
        width: 80vw;
        height: 10vw;
        margin-top: 5vh;
        text-indent: 2vh;
    }

    #forgot-password form input::placeholder
    {
        text-align: center;
    }

    #forgot-password form p
    {
        width: 80vw;
        text-align: center;
        font-size: 1.8vh;
        margin-top: 2vh;
    }

    #forgot-password form button
    {
        display: block;
        width: 80vw;
        height: 10vw;
        border: none;
        background-color: black;
        color: white;
        margin: 3vh 0 0 0;
    }
}