#tagline
{
    color: white;
}

#tagline h1
{
    font-size: 4rem;
    padding: 33vh 0 0 15vw;
}

#tagline button
{
    margin: 5vh 0 0 26vw;
    width: 10vw;
    height: 6vh;
    /* border-radius: 15%; */
    border: none;
}

footer
{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: white;
}

footer #dear-beliver
{
    width: 86%;
    text-align: center;
    margin: 20vh auto 0 auto;
}

footer #dear-beliver h1
{
    font-size: 2vw;
    margin-bottom: 3vh;
}

footer #dear-beliver p
{
    font-size: 1vw;
    font-weight: 500;
    word-spacing: 0.5px;
    line-height: 2vw;
}

footer #dear-beliver .four
{
    font-size: 1.2vw;
    margin-top: 5vh;
    font-weight: 600;
}

footer #dear-beliver .five
{
    font-size: 1.5vw;
}



@media only screen and (min-width: 170px) and (max-width: 770px)
{


    header h1{
        color: white !important;
    }
    div#container
    {
        /* background-image: url("images/remi-thorel-DgUD5P1a2Hc-unsplash.jpg"); */
    }

    #tagline h1
    {
        font-size: 10vw;
        padding: 40vh 0 0 0;
        text-align: center;
        margin: 0 auto;
        width: 90%;
        /* color: black; */
    }

    #tagline button
    {
        width: 30vw;
        margin: 4vh 0 0 36vw;
        padding: 0;
    }

    #scroll
    {
        font-size: 10vw;
    }

    footer
    {
      justify-content: center;
    }

    footer #dear-beliver
    {
        text-align: start;
        margin: 0 0 0 0;
    }

    footer #dear-beliver h1
    {
        font-size: 5vw;
    }

    footer #dear-beliver p
    {
        line-height: 5vw;
        font-size: 3vw;
        text-align: justify;
    }

    footer #dear-beliver .four
    {
        font-size: 3vw;
    }

    footer #dear-beliver .five
    {
        font-size: 4vw;
    }
    header
    {
        background-color: initial !important;
    }

    
    #logo a h1
    {
        color: white;
    }
    
    #burger-menu label .row
    {
        background-color: white;
    }

}