*
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; 
}

header h1, a
{
    color: black;
}

header a
{
    padding-bottom: 10px;
}

#container
{
    background-color: white;
}

#login-form
{
    width: 100%;
    height: 92vh;
    margin-top: 8vh;
    background-image: url("images/login-background.jpg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#login-form div
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

#login-form div h1
{
    font-size: 2vw;
    color: #41d5a6;
}

#login-form div form
{
    text-align: center;
}

#login-form div form input
{
    display: block;
    height: 5vh;
    width: 20vw;
    margin: 5vh auto;
    font-size: 1vw;
    outline: none;
    text-indent: 1vw;
}

#login-form div form input::placeholder
{
    font-size: 1vw;
    text-indent: 1vw;
}

#login-form div form p
{
    max-width: 20vw;
    font-size: 0.8vw;
    margin: 0 auto 3vh auto;
}

#login-form div form button
{
    width: 20vw;
    height: 5vh;
    background-color: black;
    color: white;
    border: none;
    font-size: 1vw;
}

#login-form div ul
{
    display: flex;
    width: 20vw;
    list-style: none;
}

#login-form div ul li
{
    display: inline-block;
    width: 50%;
}

#login-form div ul li a
{
    display: inline-block;
    margin: 1vh 0 0 0;
    text-decoration: none;
}

#login-form div ul li:last-child
{
    display: flex;
    justify-content: flex-end;
}

#signup
{
    margin-right: 8vw !important;
}

@media only screen and (min-width: 170px) and (max-width: 770px)
{

    #login-form
    {
        background-image: none;
        background-color: white;
    }

    #login-form div
    {
        width: 100%;
    }
    #login-form div h1
    {
        font-size: 6vw;
        /* color: #ccc; */
    }

    #login-form div form
    {
        text-align: center;
    }

    #login-form div form input
    {
        display: block;
        height: 10vw;
        width: 80vw;
        margin: 5vh auto;
        font-size: 4vw;
        outline: none;
        text-indent: 1vh;
    }

    #login-form div form input::placeholder
    {
        font-size: 4vw;
        text-indent: 1vh;
    }

    #login-form div form p
    {
        max-width: 80vw;
        font-size: 4vw;
        margin: 0 auto 3vh auto;
    }

    #login-form div form button
    {
        width: 80vw;
        height: 10vw;
        background-color: #41d5a6;
        color: white;
        border: none;
        font-size: 2vh;
    }

    #login-form div form a
    {
        display: inline-block;
        margin: 2vh 0 0 0;
    }

    #signup
    {
        margin-right: 25vw !important;
    }

    #login-form div ul
    {
        display: flex;
        width: 80vw;
        list-style: none;
    }

    #login-form div ul li
    {
        display: inline-block;
        width: 50%;
    }

    #login-form div ul li:last-child
    {
        display: flex;
        justify-content: flex-end;
    }

    #login-form div ul li a
    {
        display: inline-block;
        margin: 2vw 0 0 0;
        text-decoration: none;
        font-size: 4vw;
    }

}