#data-container
{
    width: 100%;
    height: auto;
    margin: 0 0 0 4vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#data-container .row-1
{
    width: 70%;
    height: 92vh;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
#data-container .row-1 form
{
    width: 100%;
}


#data-container .row-1 .col
{
    width: 100%;

}


#data-container .row-1 .details
{
    height: 6vh;
    background-color: white;
    margin: 0 !important;
}

#data-container .row-1 .details ul
{
    width: 100%;
    height: 100%;
    background-color: #41d5a6;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#data-container .row-1 .details ul li
{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.3vw;
}

#data-container .row-1 ul li:first-child
{
    font-size: 0.9vw !important;
    color: black;
}

#data-container .row-1 ul li:nth-child(2)
{
    font-weight: 600;
}

#data-container .row-1 .details ul li:first-child p
{
    margin: 0 4vw;
}


#data-container .row-1 .details ul li a
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 4vw;
    text-decoration: none;
    color: black;
    font-size: 1vw;
}


#data-container .row-1 .details ul li a .img
{
    width: 2.5vw;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px;
}

#data-container .row-1 .details ul li a .img img
{
    /* max-width: 100%; */
    max-height: 100%;
}

#data-container .row-1 .answers
{
    /* height: 6vh; */
    background-color: rgb(40, 148, 73);
}

#data-container .row-1 .answers .q-a
{
    width: 100%;
    height: auto;
    background-color: rgb(148, 40, 143);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#data-container .row-1 .answers .q-a p
{
    width: 80%;
    padding: 2vh 0;
}

#data-container .row-1 .answers .q-a div
{
    width: 80%;
    padding: 2vh 0;
}

#data-container .row-2
{
    width: 30%;
    height: 92vh;
    /* background-color: rgb(0, 255, 149); */
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

#data-container .row-2 h1
{
    width: 100%;
    height: 6vh;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#data-container .row-2 ul
{
    width: 100%;
    overflow-y: scroll;
    height: 86vh;
}

#data-container .row-2 ul li
{
    width: 100%;
    height: 6vh;
    list-style: none;
    margin-bottom: 3px;
}

#data-container .row-2 ul li a
{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    text-indent: 10px;
    color: #41d5a6;
}

