

#profile-detials
{
    width: 100%;
    height: auto !important;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-image: none !important;
    padding: 3% 0 0 0;
}

#profile-detials .detail-row:nth-child(1)
{   
    width: 60% !important;
    /* height: 90% !important; */
}

#profile-detials .detail-row:nth-child(1) .col
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0 0 15px -5px black !important;
    background-color: white;
    margin: 0 0 4vh 0 ;
}

#profile-detials .detail-row:nth-child(1) .col p
{
    margin: 5% 0 0 10%;
    color: #41d5a6;
    align-self: start;
    font-size: 1.3vw;
}

#profile-detials .detail-row:nth-child(1) .col table
{
    /* padding: 0 0 0 50px; */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
#profile-detials .detail-row:nth-child(1) .col table tr td:first-child
{
    width: 10vw;
    color: rgb(78, 78, 78);
}

#profile-detials .detail-row:nth-child(1) .col table tr td:last-child   
{
    width: 30vw;
    height: 5vh;
    color: rgb(165, 163, 163);
    /* color: #41d5a6; */
}

#profile-detials .detail-row:last-child
{
    width: 30%;
    height: 20vh;
    background-color: gold;
    margin: 0 0 4vh 0 ;

}

@media only screen and (min-width: 170px) and (max-width: 770px)
{

    #profile-detials .detail-row:nth-child(1)
    {   
        width: 100% !important;
        /* padding:  0 0 5vh 0; */
        /* background-color: white; */
    }  
    
    #profile-detials .detail-row:nth-child(1) .col
    {
        margin: 0 !important;
        box-shadow: none !important;
    }

    #profile-detials .detail-row:nth-child(1) .col p
    {
        font-size: 5vw;
    }

    #profile-detials .detail-row:nth-child(1) .col table
    {
        width: 100% !important;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 5% 0;
        padding: 0 0 5vh 0;
    }
    #profile-detials .detail-row:nth-child(1) .col table tr td:first-child
    {
        width: 40vw;
        color: rgb(78, 78, 78);
    }
}