#post-container
{
    width: 80%;
    height: auto;
    padding-bottom: 10vh;
}

.post
{
    width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 8px black;
    margin: 5vh auto 0 auto;
    background-color: white;
}

.post-header
{
    width: 100%;
    height: 10vh;
}

.post-header ul
{
    width: 100%;
    height: 100%;
    list-style: none;
}

.post-header ul a
{
    display: inline-block;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    /* flex-direction: column; */
    color: black;
    font-size: 0.8vw;
    font-weight: 600;
}

.post-header ul .post-user-img
{
    width: 5vw;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-header ul .post-user-img img
{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.post-body
{
    width: auto;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 0 0 2vw;
}

.post-body a
{
    text-decoration: none;
}

.post-body h1
{
    font-size: 2vw;
    margin: 2vh 0 2vh 0;
    color: rgb(53, 53, 53);
}

.post-body h1:hover
{
    color: #41d5a6;
    cursor: pointer;
}

.post-body img
{
    max-width: 80%;
    max-height: 100vh;
    border-radius: 5px;
    /* margin: 0 0 0 3vw; */
}

.post-body p
{
    width: 95%;
    margin: 5vh 0;
    font-size: 0.8vw;
    font-family: 600;
}

.post-footer
{
    width: 100%;
    height: 8vh;
}

.post-footer ul
{
    width: 95%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 2px solid #ccc;
    margin: 0 auto;

}

.post-footer ul li
{
    height: 100%;
    float: left;
    margin:  0 1%;
    display: flex;
    align-items: center;
}

.post-footer ul li a img
{
    width: 2vw;
}

.post-footer ul li a img:hover
{
    filter: invert(0.4) sepia(1) saturate(35) hue-rotate(140.4deg) brightness(1.2);
}



@media only screen and (min-width: 170px) and (max-width: 770px)
{
    #container
    {
        flex-direction: column;
    }

    #post-container
    {
        width: 100%;
        margin: 6vh 0 0 0;
        padding-bottom: 5vh !important;
    }
    .post
    {
        width: 95%;
    }

    .post-header ul .post-user-img
    {
        width: 15%;
        height: 80%;
        border-radius: 50%;
    }
    .post-header ul a
    {        
        font-size: 3vw;
    }

    .post-body h1
    {
        font-size: 6vw;
    }

    .post-body p
    {
        font-size: 3vw;
    }

    .post-footer ul
    {
        justify-content: space-between;
    }

    .post-footer ul li a img
    {
        width: 6vw;
    }

    #mobile-nav
    {
        width: 100%;
        height: 8vh;
        background-color: black;
        position: fixed;
        top: 14vw;
        z-index: 998;
    }
}